.searchBar {
  width: fit-content;
  height: 2rem;
  display: flex;
  border-radius: 0.5rem;
  border: 1px solid #f1faee;
  padding: 0.25rem;
}

.input {
  width: calc(25vw - 1.25rem - 5rem);
  background-color: transparent;
  border: none;
  color: white;
  padding: 1px 1rem;
}
.input::placeholder {
  color: white;
}

.input:focus {
  outline: none;
}

.submit {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 0.5rem;
  color: white;
  width: 2rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  color: white;
  font-size: 1rem;
  margin-left: 0.5rem;
  display: flex;
  justify-content: center;
  align-self: center;
}
