h1{
    text-align: center;
    font-family: 'Roboto';
}
    
ul{
    width: auto;
    margin-top: 8px;
    text-align: center;
}

li{
    display: inline-block;
    padding: 15px 30px;
}

a{
    text-align: center;
    font-family: 'Roboto';
}

.principal{
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2{
    font-family: 'Roboto';
    padding: 20px;
    text-align: left;
    margin-top: 20px;
}

.music-images{
    margin-top: 8px;
    text-align: center;
    width: auto;


}

img{
    border-radius: 25px;

}